*{
	margin:0;
}
.navbar{
	padding-top:2px;
	margin-top:5px;
}
.navbar img{
	margin-right:15px;
}
.navbar-brand{
	color:green;
}
.container{
	margin-top:35px;
}
.carousel-inner{
	height:500px;
}
.carousel-inner img{
	height:500px;

}
.container_footer{
	width:100%;
	height:350px;;
	background:#2d2d2d;
	margin:0 auto;
}

.card_indor{
	background-color:unset;
	text-align:center;
	width:30%;
	float:left;
	margin:15px;
	color:#928b8b;
}
#container-bottom{
	width:100%;
	height:50px;
	background-color:black;
}
.container_footer_bottom{
	width:100%;
	height:50px;
	background-color:unset;
	text-align:center;
	padding:15px;
	color:#676161d4;
	font-size:13px;
}


















